In [1]:
#This part is to get data from Google BigQuery

%load_ext google.cloud.bigquery

In [2]:
import pandas as pd
from google.cloud import bigquery

In [3]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = './Labor Statistics Project-27f747351078.json'

In [4]:
%%bigquery sample_data
select 
value,predicted_value,date
from `labor-statistics-project.export_evaluated_examples_bls_sample_data_20190803020030_2019_08_03T13_12_34_235Z.evaluated_examples`

In [5]:
sample_data

,value,predicted_value,date
0,140.239,[{'tables': {'prediction_interval': {'end': 0....,2018-01-01 00:00:00+00:00
1,140.805,[{'tables': {'prediction_interval': {'end': 0....,2018-02-01 00:00:00+00:00
2,141.142,[{'tables': {'prediction_interval': {'end': 0....,2018-03-01 00:00:00+00:00
3,141.662,[{'tables': {'prediction_interval': {'end': 0....,2018-04-01 00:00:00+00:00
4,142.146,[{'tables': {'prediction_interval': {'end': 0....,2018-05-01 00:00:00+00:00
...,...,...,...
691,101.678,[{'tables': {'prediction_interval': {'end': 0....,2018-08-01 00:00:00+00:00
692,101.376,[{'tables': {'prediction_interval': {'end': 0....,2018-09-01 00:00:00+00:00
693,101.284,[{'tables': {'prediction_interval': {'end': 0....,2018-10-01 00:00:00+00:00
694,101.447,[{'tables': {'prediction_interval': {'end': 0....,2018-11-01 00:00:00+00:00
695,101.658,[{'tables': {'prediction_interval': {'end': 0....,2018-12-01 00:00:00+00:00

In [6]:
#Get Row Count of the Data Frame
row_count=sample_data.date.count()

In [7]:
#Review the predicted value JSON format
sample_data.predicted_value[1]

[{'tables': {'prediction_interval': {'end': 0.0, 'start': 0.0},
   'value': 137.99078369140625}}]

In [8]:
#Function to extract the predicted value from the JSON format
def between(value, a, b):
    # Find and validate before-part.
    pos_a = value.find(a)
    if pos_a == -1: return ""
    # Find and validate after part.
    pos_b = value.rfind(b)
    if pos_b == -1: return ""
    # Return middle part.
    adjusted_pos_a = pos_a + len(a)
    if adjusted_pos_a >= pos_b: return ""
    return value[adjusted_pos_a:pos_b]

In [23]:
#To make sure that the function works
float(between(str(sample_data.predicted_value[1]),"value': ", "}}"))

137.99078369140625

In [24]:
#Define a Dataframe 
df=pd.DataFrame(columns=['Date','Value','Predict_Value'],index=range(0,row_count))

In [28]:
#Load the Date, Actual Value and the Predicted Value into the new dataframe df
for i in range(row_count):
    pv=str(sample_data.predicted_value[i])
    df.Date[i]=sample_data.date[i].strftime('%Y-%m-%d')
    df.Value[i]=sample_data.value[i]
    df.Predict_Value[i]=float(between(pv,"value': ", "}}"))

In [29]:
#Review Dataframe
df

           Date    Value Predict_Value
0    2018-01-01  140.239       138.292
1    2018-02-01  140.805       137.991
2    2018-03-01  141.142       138.224
3    2018-04-01  141.662       138.606
4    2018-05-01  142.146       138.225
..          ...      ...           ...
691  2018-08-01  101.678       104.055
692  2018-09-01  101.376       103.965
693  2018-10-01  101.284       104.231
694  2018-11-01  101.447       103.965
695  2018-12-01  101.658       103.846

[696 rows x 3 columns]

In [30]:
type(df.Predict_Value[1])

float

In [19]:
df.groupby(['Date'], as_index=False)['Value','Predict_Value'].sum()

          Date     Value                                      Predict_Value
0   2017-07-01  4009.227  138.3385925292968892.49623107910156116.8097152...
1   2017-08-01  4016.194  138.2615661621093893.44759368896484116.8499603...
2   2017-09-01  4041.757  138.4502258300781295.27804565429688116.9440765...
3   2017-10-01  4033.337  138.4530334472656296.6732177734375116.91426849...
4   2017-11-01  4032.456  138.2203063964843895.25031280517578116.7219696...
5   2017-12-01  4023.389  137.862380981445393.39073181152344115.95623779...
6   2018-01-01  4044.166  138.2923431396484492.88462829589844116.3352508...
7   2018-02-01  4063.590  137.9907836914062594.1978759765625116.16152954...
8   2018-03-01  4069.333  138.224487304687595.42582702636719116.63780975...
9   2018-04-01  4086.249  138.6063385009765695.7724609375117.10721588134...
10  2018-05-01  4103.566  138.2245483398437594.8519515991211116.93213653...
11  2018-06-01  4110.518  138.409057617187594.22511291503906116.90696716...
12  2018-07-01  4103.031  138.2152709960937592.37909698486328116.7006225...
13  2018-08-01  4102.543  138.3263244628906293.5562973022461116.89157867...
14  2018-09-01  4107.339  138.4147033691406295.3326187133789116.93170928...
15  2018-10-01  4112.953  138.4484710693359496.71904754638672116.8764648...
16  2018-11-01  4094.161  138.0958404541015695.07591247558594116.4758758...
17  2018-12-01  4072.475  137.784866333007893.41633605957031115.91809082...
18  2019-01-01  4077.570  137.956130981445392.5745849609375116.107566833...
19  2019-02-01  4096.183  138.2163085937594.38683319091797116.4446563720...
20  2019-03-01  4119.711  138.36938476562595.55256652832031116.826736450...
21  2019-04-01  4143.465  138.4112701416015695.66251373291016116.8789062...
22  2019-05-01  4155.842  138.2854614257812594.9386215209961116.94501495...
23  2019-06-01  4152.282  138.4053344726562594.27386474609375116.9263839...

In [13]:
#Prepare for creating the visualization through flask & chartjs
from flask import Flask, Markup, render_template

app = Flask(__name__)

In [14]:
colors = [
    "#F7464A", "#46BFBD", "#FDB45C", "#FEDCBA",
    "#ABCDEF", "#DDDDDD", "#ABCABC", "#4169E1",
    "#C71585", "#FF4500", "#FEDCBA", "#46BFBD"]

In [ ]:
df =df.sort_values(by=['Date'])

In [15]:
labels = df.Date
value1 = df.Value
value2 = df.Predict_Value

In [18]:
@app.route('/test')
def test5():
        line_labels=labels
        line_values=values
        return render_template('test_chart.html', title='Test_Chart', max=200, labels=line_labels, values=line_values)

In [136]:
@app.route('/')
def hello():
        return render_template('hello.html', title="Weclome to Leo Song's Project Page")

In [137]:
if __name__ == '__main__':
    app.run(host='localhost', port=8081)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://localhost:8081/ (Press CTRL+C to quit)
[2019-08-28 21:42:13,567] ERROR in app: Exception on / [GET]
Traceback (most recent call last):
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 2446, in wsgi_app
    response = self.full_dispatch_request()
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1951, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1820, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1949, in full_dispatch_request
    rv = self.dispatch_request()
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1935, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-122-ea9a3459cb9a>", line 3, in result
    return render_template("result.html")
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\templating.py", line 138, in render_template
    ctx.app.jinja_env.get_or_select_template(template_name_or_list),
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\jinja2\environment.py", line 869, in get_or_select_template
    return self.get_template(template_name_or_list, parent, globals)
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\jinja2\environment.py", line 830, in get_template
    return self._load_template(name, self.make_globals(globals))
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\jinja2\environment.py", line 804, in _load_template
    template = self.loader.load(self, name, globals)
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\jinja2\loaders.py", line 113, in load
    source, filename, uptodate = self.get_source(environment, name)
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\templating.py", line 60, in get_source
    return self._get_source_fast(environment, template)
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\templating.py", line 89, in _get_source_fast
    raise TemplateNotFound(template)
jinja2.exceptions.TemplateNotFound: result.html
127.0.0.1 - - [28/Aug/2019 21:42:13] "GET / HTTP/1.1" 500 -
[2019-08-28 21:42:20,356] ERROR in app: Exception on / [GET]
Traceback (most recent call last):
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 2446, in wsgi_app
    response = self.full_dispatch_request()
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1951, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1820, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1949, in full_dispatch_request
    rv = self.dispatch_request()
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1935, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-122-ea9a3459cb9a>", line 3, in result
    return render_template("result.html")
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\templating.py", line 138, in render_template
    ctx.app.jinja_env.get_or_select_template(template_name_or_list),
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\jinja2\environment.py", line 869, in get_or_select_template
    return self.get_template(template_name_or_list, parent, globals)
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\jinja2\environment.py", line 830, in get_template
    return self._load_template(name, self.make_globals(globals))
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\jinja2\environment.py", line 804, in _load_template
    template = self.loader.load(self, name, globals)
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\jinja2\loaders.py", line 113, in load
    source, filename, uptodate = self.get_source(environment, name)
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\templating.py", line 60, in get_source
    return self._get_source_fast(environment, template)
  File "c:\users\leveo\appdata\local\programs\python\python37\lib\site-packages\flask\templating.py", line 89, in _get_source_fast
    raise TemplateNotFound(template)
jinja2.exceptions.TemplateNotFound: result.html
127.0.0.1 - - [28/Aug/2019 21:42:20] "GET / HTTP/1.1" 500 -
127.0.0.1 - - [28/Aug/2019 21:42:24] "GET /test HTTP/1.1" 200 -
127.0.0.1 - - [28/Aug/2019 21:42:28] "GET /line HTTP/1.1" 200 -
127.0.0.1 - - [28/Aug/2019 21:42:32] "GET /pie HTTP/1.1" 404 -